# Supabase Auth & Storage
PUBLIC_SUPABASE_URL="https://gonlvunbqxfwogpnncdn.supabase.co"
PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdvbmx2dW5icXhmd29ncG5uY2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTk4OTIsImV4cCI6MjA5MzM3NTg5Mn0.yo50ucyBfmZOfbms__5G4UiTUTNy9__TajUAXqeIIJ0"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdvbmx2dW5icXhmd29ncG5uY2RuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzc5OTg5MiwiZXhwIjoyMDkzMzc1ODkyfQ.Gbcx84w-qqnM62Tl3aYNHz_ofgvCuQIuRpXFjUH5tn4"
# Payload CMS PostgreSQL Connection
DATABASE_URI="postgresql://postgres.gonlvunbqxfwogpnncdn:bacWes-mezwov-redwa3@aws-1-ap-south-1.pooler.supabase.com:6543/postgres"

# Payload Secret (Generate a random string)
PAYLOAD_SECRET="1042869485"

S3_ENDPOINT="https://gonlvunbqxfwogpnncdn.storage.supabase.co/storage/v1/s3"
S3_ACCESS_KEY_ID="cc7f3de52f755d6ed99d7ecb55326ecb"
S3_SECRET_ACCESS_KEY="f9096a7b7820dccfa552b3e4ff730ca82f89a011ab991f473491dacba2d052d9"
S3_BUCKET="media"
S3_REGION="ap-south-1"